dist: trusty
language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4
  - "nightly"

jobs:
  fast_finish: true
  allow_failures:
    # Allow failures for unstable builds.
    - php: "nightly"

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

before_script:
  - composer install --no-interaction

script:
  - ant
