<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="true"
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertDeprecationsToExceptions="true"
    >

    <testsuites>
        <testsuite name="PHP-Console-Highlighter">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="junit" target="build/logs/phpunit.xml"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/coverage/"/>
    </logging>

    <php>
        <ini name="memory_limit" value="256M"/>
    </php>
</phpunit>
